h1{color:purple; font-family:Time New Narrow;}
h2{color:rgb(174, 122, 174);}
p{background-color:rgb(197, 156, 210);color:white; font-family:MV Boli;}
table{background-color:rgb(177, 146, 179);color;white;}
ul{color:black;background-color:rgb(202, 181, 210);}
ol{color:black;background-color:rgb(195, 192, 247);}
form{background-color: rgb(204, 210, 255);color:white; font-family:Time New Narrow;}